.content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

video{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.main{
    width: 100%;
    height: 32vh;
}

.overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0,0,0,.4);*/
    background-color: #000000cc;
}

.masthead {
    height: 75vh;
    width: 100%;
    min-height: 500px;
    background-image: url("../public/cruzCielo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }